:root {
  --background-brown: #3B200F;
  --background-light-blue: #AFF0E6;
  --background-dark-blue: #0D363C;
  --text-nothighlighted: #F4F4F4;
  --text-highlighted: #E8B450;
  --text-dropshadow: #A8BFBF;
}

.App {
  text-align: center;
  background-color: var(--background-brown);
}

.App header {
  background-color: var(--background-light-blue);
}

.App #feature {
  color: var(--text-nothighlighted);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5em 25em;
}


.App #description {
  color: var(--text-nothighlighted);
  margin: 2em 15em;
  font-size: 24px;
}
.App #tagline {
  display: inline-flex;
  align-items: center;
  font-size: 36px;
  text-shadow: 1px 2px 5px var(--text-dropshadow);
}


.App #slideshow {
  margin: 4em 0em 0em 0em;
}


.App #feature p {
  margin: 0em 2em;
  text-align: left; 
}


.App footer {
  background-color: var(--background-dark-blue);
}

.App footer span {
  margin: 5em;
}

.App footer span img {
  padding: 1em .25em;
}

.App footer span a {
  color: var(--text-nothighlighted);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}